:root{
    --accent-purple: #9400A0;
    --accent-blue: #2F1693;
    --text: #353535;
    --p: #747474;
}

body {
    font-family: 'Poppins', sans-serif; 
}

.gradient {
    background: -webkit-linear-gradient(349deg, var(--accent-purple), var(--accent-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav */
nav {
    height: 80px;
    border-bottom: 1px solid #EFEFEF;
}

.navbar-brand {
    font-size: 21px;
    font-weight: 600;
}

.nav-link {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

.nav-link.active {
    font-weight: 600;
}

.nav-link:hover {
    background: -webkit-linear-gradient(349deg, var(--accent-purple), var(--accent-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav End */


.hero-section, .tech-stack, .recent-project {
    margin-top: 100px;
}

.hero-section img {
    width: 60%;
    margin-bottom: 30px;
}

.hero-section p, .tech-stack p, .recent-project p{
    color: var(--p);
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 5px;
}

.hero-section h4, .tech-stack h4, .recent-project h4{
    font-weight: 600;
    font-size: 30px;
}

.hero-section h4:hover {
    background: -webkit-linear-gradient(180deg, var(--accent-purple), var(--accent-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Hero Section End */

.tech-stack img {
    filter: saturate(0%);
    transition: 0.3s;
}

.tech-stack img:hover{
    filter: saturate(100%);
}

@media only screen and (max-width: 400px) {

    .hero-section h4 {
        font-size: 21px;
    }

}